.app {
  text-align: center;
}
.appheader {
  background-color: #08090c;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgb(236, 79, 79);
}
form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="text"],
input[type="number"] {
  padding:15px;
  font-size:15px;
  border-radius:10px;
  border:2px solid #ccc;
  margin-bottom:10px;
  width:500px;  }
button {
  padding:10px 20px;
  font-size:15px;
  border-radius:10px;
  border:none;
  background-color:#61dafb;
  color:#243a66;
  cursor:pointer;  }
.Results {
  margin-top:22px;
  width:90%;  }
.Final-Result {
  background-color:#323846;
  border-radius:10px;
  padding:20px;
  margin-bottom:10px;
  text-align:left;  }
.Final-Result p{
  margin:5px 0;
  word-break:break-all;  }
.Final-Result a{
  color:#61dafb;
  text-decoration:none;   }